<html dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>چاپ</title>
</head>
<body>
<h3 style="text-align: center; margin-top: 0px; padding-top: 0px;">{{bid.name}}</h3>
<p style="text-align: center;">{{ page_title }}</p>
<div style="width: 100%">
    {% block body %}{% endblock %}
</div>
</body>