<!DOCTYPE html>
<html lang="fa" direction="rtl">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<head>
		
	</head>
	<body style="direction:rtl; width:100%;margin-bottom:20px;">
		<div class="block-content pt-1 pb-3 d-none d-sm-block">
			<div class="c-print container-xl">
				<div class="tg-wrap" style="width:100%; border:1px solid black;border-radius: 8px;">
					<table class="rounded" style="width:100%;">
						<thead>
							<tr>
								<td style="width:30%;text-align:center;">
									{{ twigFunctions.getStaticData('system', 'footerLeft') }}
								</td>
								<td style="width:40%; text-align:center">
									صفحه:
									   {PAGENO}
									       از
							            {nbpg}
								</td>
								<td style="width:30%;text-align:center;">
									{{ twigFunctions.getStaticData('system', 'footerRight') }}
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</body>
	</body>
</html>

