{% extends "base.html.twig" %}
{% block title %}ویژگی‌ها: مدیریت کاربران {% endblock %}
{% block body %}
    <div class="container bg-white rounded-3">
        <div class="row py-3">
            <div class="col-md-5 d-md-flex align-items-md-center">
                <div>
                    <h4 class="mb-2"> دعوت کاربران به کسب و کار </h4>
                    <p class="mb-0 text-muted"> در حسابداری آنلاین حسابکس می‌توانید کاربران مختلفی را به کسب و کار خود دعوت کنید. همچنین هر کاربر می‌تواند همزمان در چندین کسب و کار مختلف مشارکت داشته باشد و در هر زمان نیز کسب و کار را ترک کند. </p>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 d-md-flex align-items-md-center">
                <div class="block block-rounded block-fx-pop row g-sm w-100 py-4 my-3">
                    <div class="col-12">
                        <img class="img-fluid" src="{{ asset('/img/features/users_list.png') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-5 d-md-flex align-items-md-center">
                <div>
                    <h4 class="mb-2">سطوح دسترسی پیشرفته </h4>
                    <p class="mb-0 text-muted"> مدیر سیستم می تواند دسترسی کاربر را بر روی کلیه امکانات سیستم تعیین کند. کلیه عملیات نظیر ذخیره، مشاهده، ویرایش یا حذف توسط مدیر سیستم برای کاربران قابل تنظیم است. </p>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 d-md-flex align-items-md-center">
                <div class="block block-rounded block-fx-pop row g-sm w-100 py-4 my-3">
                    <div class="col-12">
                        <img class="img-fluid" src="{{ asset('/img/features/users_perms.png') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-5 d-md-flex align-items-md-center">
                <div>
                    <h4 class="mb-2"> تاریخچه فعالیت کاربران </h4>
                    <p class="mb-0 text-muted"> تمامی فعالیت های صورت گرفته بر روی کلیه اطلاعات سیستم توسط کاربران در سیستم به صورت لاگ ذخیره می شود. سابقه تغییرات برای کلیه اسناد و اطلاعات ثبت شده در سیستم قابل مشاهده و گزارش گیری است. </p>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 d-md-flex align-items-md-center">
                <div class="block block-rounded block-fx-pop row g-sm w-100 py-4 my-3">
                    <div class="col-12">
                        <img class="img-fluid" src="{{ asset('/img/features/users_logs.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}