DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # اگه درخواست با /u شروع بشه، قوانین بعدی رو اعمال نکن و بذار فایل‌های اونجا مستقیماً لود بشن
    RewriteCond %{REQUEST_URI} ^/u(/|$) [NC]
    RewriteRule ^ - [L]

    # اگه فایل یا دایرکتوری فیزیکی وجود داره (مثل فایل‌های استاتیک)، مستقیماً لودش کن
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # همه درخواست‌های دیگه رو به index.php سمفونی بفرست
    RewriteRule ^ /index.php [L]
</IfModule>