DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /u/

  # اگه درخواست مستقیماً index.html باشه، همون رو لود کن
  RewriteRule ^index\.html$ - [L]

  # اگه فایل یا دایرکتوری فیزیکی وجود نداره، به index.html برو
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /u/index.html [L]
</IfModule>