/********************** Backgrounds **********************/

#Header_wrapper {
	background-color: #34353d;
}

#Subheader {
	background-color: #f7f7f7;
}

#Footer {
	background-color: #34353d;
}

#Sliding-top {
	background-color: #34353d;
}

#Sliding-top a.sliding-top-control {
	border-left-color: #34353d;
}

/************************ Colors ************************/

/* Content font */
body,
ul.timeline_items,
.icon_box a .desc,
.icon_box a:hover .desc,
.feature_list ul li a,
.list_item a,
.list_item a:hover,
.widget_recent_entries ul li a,
.flat_box a,
.flat_box a:hover {
	color: #626262;
}

/* Theme color */
.themecolor,
.opening_hours .opening_hours_wrapper li span,
.fancy_heading_icon .icon_top,
.fancy_heading_arrows .icon-right-dir,
.fancy_heading_arrows .icon-left-dir,
.fancy_heading_line h2,
.button-love a.mfn-love,
.format-link .post-title .icon-link,
.pager-single>span,
.pager-single a:hover,
.widget_meta ul,
.widget_pages ul,
.widget_rss ul,
.widget_mfn_recent_comments ul li:after,
.widget_archive ul,
.widget_recent_comments ul li:after,
.widget_nav_menu ul,
.woocommerce ul.products li.product .price,
.shop_slider .shop_slider_ul li .item_wrapper .price,
.woocommerce-page ul.products li.product .price,
.widget_price_filter .price_label .from,
.widget_price_filter .price_label .to,
.woocommerce ul.product_list_widget li .quantity .amount,
.woocommerce .product div.entry-summary .price,
.woocommerce .star-rating span,
#Error_404 .error_pic i {
	color: #d69942;
}

/* Theme background */
.themebg,
.pager .pages a:hover,
.pager .pages a.active,
.pager .pages span.page-numbers.current,
.pager-single span:after,
#comments .commentlist>li .reply a.comment-reply-link,
.fixed-nav .arrow,
#Filters .filters_wrapper ul li a:hover,
.widget_categories ul,
.Recent_posts ul li .desc:after,
.Recent_posts ul li .photo .c,
.widget_recent_entries ul li:after,
.widget_mfn_menu ul li a:hover,
.widget_product_categories ul,
div.jp-interface,
#Top_bar a#header_cart span,
.testimonials_slider .slider_images,
.testimonials_slider .slider_images a:after,
.testimonials_slider .slider_images:before,
.slider_pagination a.selected,
.slider_pagination a.selected:after,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet.selected:after,
.tp-rightarrow.default,
.tp-leftarrow.default,
.tp-bullets.tp-thumbs .bullet.selected:after,
.offer_thumb .slider_pagination a:before,
.offer_thumb .slider_pagination a.selected:after {
	background-color: #d69942;
}

/* Links color */
a {
	color: #d69942;
}

a:hover {
	color: #cb8c33;
}

/* Selections */
*::-moz-selection {
	background-color: #d69942;
}

*::selection {
	background-color: #d69942;
}

/* Grey */
.blockquote p.author span,
.counter .desc_wrapper .title,
.article_box .desc_wrapper p,
.team .desc_wrapper p.subtitle,
.pricing-box .plan-header p.subtitle,
.pricing-box .plan-header .price sup.period,
.chart_box p,
.fancy_heading .inside,
.fancy_heading_line .slogan,
.post-meta,
.post-meta a,
.post-footer,
.post-footer a span.label,
.pager .pages a,
.button-love a .label,
.pager-single a,
#comments .commentlist>li .comment-author .says,
.fixed-nav .desc .date,
.filters_buttons li.label,
.Recent_posts ul li a .desc .date,
.widget_recent_entries ul li .post-date,
.tp_recent_tweets .twitter_time,
.widget_price_filter .price_label,
.shop-filters .woocommerce-result-count,
.woocommerce ul.product_list_widget li .quantity,
.widget_shopping_cart ul.product_list_widget li dl,
.product_meta .posted_in,
.woocommerce .shop_table .product-name .variation>dd,
.shipping-calculator-button:after,
.shop_slider .shop_slider_ul li .item_wrapper .price del,
.testimonials_slider .testimonials_slider_ul li .author span,
.testimonials_slider .testimonials_slider_ul li .author span a {
	color: #a8a8a8;
}

/* Headings font */
h1,
h1 a,
h1 a:hover,
.text-logo #logo {
	color: #444444;
}

h2,
h2 a,
h2 a:hover {
	color: #444444;
}

h3,
h3 a,
h3 a:hover {
	color: #444444;
}

h4,
h4 a,
h4 a:hover {
	color: #444444;
}

h5,
h5 a,
h5 a:hover {
	color: #444444;
}

h6,
h6 a,
h6 a:hover,
a.content_link .title {
	color: #444444;
}

/* Highlight */
.dropcap,
.highlight:not(.highlight_image) {
	background-color: #d69942;
}

/* Buttons */
a.button,
a.tp-button {
	background-color: #f7f7f7;
	color: #747474;
}

a.button_theme,
a.tp-button.button_theme,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	background-color: #d69942;
	color: #fff;
}

/* Fancy Link */
a.mfn-link {
	color: #656b6f;
}

a.mfn-link-2 span,
a:hover.mfn-link-2 span:before,
a.hover.mfn-link-2 span:before,
a.mfn-link-5 span,
a.mfn-link-8:after,
a.mfn-link-8:before {
	background: #d69942;
}

a:hover.mfn-link {
	color: #d69942;
}

a.mfn-link-2 span:before,
a:hover.mfn-link-4:before,
a:hover.mfn-link-4:after,
a.hover.mfn-link-4:before,
a.hover.mfn-link-4:after,
a.mfn-link-5:before,
a.mfn-link-7:after,
a.mfn-link-7:before {
	background: #cb8c33;
}

a.mfn-link-6:before {
	border-bottom-color: #d69942;
}

/* Shop buttons */
.woocommerce a.button,
.woocommerce .quantity input.plus,
.woocommerce .quantity input.minus {
	background-color: #f7f7f7 !important;
	color: #747474 !important;
}

.woocommerce a.button_theme,
.woocommerce button.button,
.woocommerce input[type='submit'],
.woocommerce input[type='reset'],
.woocommerce input[type='button'] {
	background-color: #d69942 !important;
	color: #fff !important;
}

/* Lists */
.column_column ul,
.column_column ol,
.the_content_wrapper ul,
.the_content_wrapper ol {
	color: #737e86;
}

/* Dividers */
.hr_color,
.hr_color hr,
.hr_dots span {
	color: #d69942;
	background: #d69942;
}

.hr_zigzag i {
	color: #d69942;
}

/* Highlight section */
.highlight-right:after,
.highlight-left:after {
	background: #d69942;
}

@media only screen and (max-width: 767px) {

	.highlight-right .column:first-child,
	.highlight-left .column:last-child {
		background: #d69942;
	}
}

/************************ Header ************************/

#Header .top_bar_right {
	background-color: #fff;
}

#Top_bar .top_bar_left:before {
	background-color: #e3e3e3;
}

#Header .top_bar_left {
	background-color: #f5f5f5;
}

#Top_bar .menu>li>a,
#Top_bar .top_bar_left a {
	color: #444444;
}

#Top_bar .menu>li.current-menu-item>a,
#Top_bar .menu>li.current_page_item>a,
#Top_bar .menu>li.current-menu-ancestor>a,
#Top_bar .menu>li.current_page_ancestor>a,
#Top_bar .menu>li.hover>a {
	color: #d69942;
}

#Top_bar .menu>li a:after {
	background: #d69942;
}

.menu-highlight #Top_bar #menu>ul>li.current-menu-item>a,
.menu-highlight #Top_bar #menu>ul>li.current_page_item>a,
.menu-highlight #Top_bar #menu>ul>li.current-menu-ancestor>a,
.menu-highlight #Top_bar #menu>ul>li.current_page_ancestor>a,
.menu-highlight #Top_bar #menu>ul>li.hover>a {
	background: #d69942;
}

#Top_bar .menu>li ul {
	background-color: #f2f2f2;
}

#Top_bar .menu>li ul li a {
	color: #5f5f5f;
}

#Top_bar .menu>li ul li a:hover,
#Top_bar .menu>li ul li.hover>a {
	color: #2e2e2e;
}

#Top_bar .search_wrapper {
	background: #d69942;
}

#Subheader .title {
	color: #888888;
}

/************************ Footer ************************/

#Footer,
#Footer .widget_recent_entries ul li a {
	color: #cccccc;
}

#Footer a {
	color: #d69942;
}

#Footer a:hover {
	color: #cb8c33;
}

#Footer h1,
#Footer h1 a,
#Footer h1 a:hover,
#Footer h2,
#Footer h2 a,
#Footer h2 a:hover,
#Footer h3,
#Footer h3 a,
#Footer h3 a:hover,
#Footer h4,
#Footer h4 a,
#Footer h4 a:hover,
#Footer h5,
#Footer h5 a,
#Footer h5 a:hover,
#Footer h6,
#Footer h6 a,
#Footer h6 a:hover {
	color: #fff;
}

/* Theme color */
#Footer .themecolor,
#Footer .widget_meta ul,
#Footer .widget_pages ul,
#Footer .widget_rss ul,
#Footer .widget_mfn_recent_comments ul li:after,
#Footer .widget_archive ul,
#Footer .widget_recent_comments ul li:after,
#Footer .widget_nav_menu ul,
#Footer .widget_price_filter .price_label .from,
#Footer .widget_price_filter .price_label .to,
#Footer .star-rating span {
	color: #d69942;
}

/* Theme background */
#Footer .themebg,
#Footer .widget_categories ul,
#Footer .Recent_posts ul li .desc:after,
#Footer .Recent_posts ul li .photo .c,
#Footer .widget_recent_entries ul li:after,
#Footer .widget_mfn_menu ul li a:hover,
#Footer .widget_product_categories ul {
	background-color: #d69942;
}

/* Grey */
#Footer .Recent_posts ul li a .desc .date,
#Footer .widget_recent_entries ul li .post-date,
#Footer .tp_recent_tweets .twitter_time,
#Footer .widget_price_filter .price_label,
#Footer .shop-filters .woocommerce-result-count,
#Footer ul.product_list_widget li .quantity,
#Footer .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}

/************************ Sliding-top ************************/

#Sliding-top,
#Sliding-top .widget_recent_entries ul li a {
	color: #cccccc;
}

#Sliding-top a {
	color: #d69942;
}

#Sliding-top a:hover {
	color: #cb8c33;
}

#Sliding-top h1,
#Sliding-top h1 a,
#Sliding-top h1 a:hover,
#Sliding-top h2,
#Sliding-top h2 a,
#Sliding-top h2 a:hover,
#Sliding-top h3,
#Sliding-top h3 a,
#Sliding-top h3 a:hover,
#Sliding-top h4,
#Sliding-top h4 a,
#Sliding-top h4 a:hover,
#Sliding-top h5,
#Sliding-top h5 a,
#Sliding-top h5 a:hover,
#Sliding-top h6,
#Sliding-top h6 a,
#Sliding-top h6 a:hover {
	color: #fff;
}

/* Theme color */
#Sliding-top .themecolor,
#Sliding-top .widget_meta ul,
#Sliding-top .widget_pages ul,
#Sliding-top .widget_rss ul,
#Sliding-top .widget_mfn_recent_comments ul li:after,
#Sliding-top .widget_archive ul,
#Sliding-top .widget_recent_comments ul li:after,
#Sliding-top .widget_nav_menu ul,
#Sliding-top .widget_price_filter .price_label .from,
#Sliding-top .widget_price_filter .price_label .to,
#Sliding-top .star-rating span {
	color: #d69942;
}

/* Theme background */
#Sliding-top .themebg,
#Sliding-top .widget_categories ul,
#Sliding-top .Recent_posts ul li .desc:after,
#Sliding-top .Recent_posts ul li .photo .c,
#Sliding-top .widget_recent_entries ul li:after,
#Sliding-top .widget_mfn_menu ul li a:hover,
#Sliding-top .widget_product_categories ul {
	background-color: #d69942;
}

/* Grey */
#Sliding-top .Recent_posts ul li a .desc .date,
#Sliding-top .widget_recent_entries ul li .post-date,
#Sliding-top .tp_recent_tweets .twitter_time,
#Sliding-top .widget_price_filter .price_label,
#Sliding-top .shop-filters .woocommerce-result-count,
#Sliding-top ul.product_list_widget li .quantity,
#Sliding-top .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}

/************************ Shortcodes ************************/

/* Blockquote */
blockquote,
blockquote a,
blockquote a:hover {
	color: #444444;
}

/* Image frames & Google maps & Icon bar */
.image_frame .image_wrapper .image_links {
	background: rgba(214, 153, 66, 0.8);
}

.image_frame .image_wrapper .image_links a {
	color: #fff;
}

.image_frame .image_wrapper .image_links a:hover {
	background: #fff;
	color: #d69942;
}

/* Sliding box */
.sliding_box .desc_wrapper {
	background: #d69942;
}

.sliding_box .desc_wrapper:after {
	border-bottom-color: #d69942;
}

/* Counter & Chart */
.counter .icon_wrapper i {
	color: #d69942;
}

/* Quick facts */
.quick_fact .number {
	color: #d69942;
}

/* Progress bar */
.progress_bars .bars_list li .bar .progress {
	background-color: #d69942;
}

/* Icon bar */
a:hover.icon_bar {
	color: #d69942 !important;
}

/* Content links */
a.content_link,
a:hover.content_link {
	color: #d69942;
}

a.content_link:before {
	border-bottom-color: #d69942;
}

a.content_link:after {
	border-color: #d69942;
}

/* Get in touch & Infobox */
.get_in_touch,
.infobox {
	background-color: #d69942;
}

.column_map .google-map-contact-wrapper .get_in_touch:after {
	border-top-color: #d69942;
}

/* Timeline & Post timeline */
.timeline_items li h3:before,
.timeline_items:after,
.timeline .post-item:before {
	border-color: #d69942;
}

/* How it works */
.how_it_works .image .number {
	background: #d69942;
}

/* Trailer box */
.trailer_box .desc .subtitle {
	background-color: #d69942;
}

/* Icon box */
.icon_box .icon_wrapper,
.icon_box a .icon_wrapper {
	color: #d69942;
}

.icon_box:hover .icon_wrapper:before,
.icon_box a:hover .icon_wrapper:before {
	background-color: #d69942;
}

/* Clients */
ul.clients.clients_tiles li .client_wrapper:hover:before {
	background: #d69942;
}

ul.clients.clients_tiles li .client_wrapper:after {
	border-bottom-color: #d69942;
}

/* List */
.list_item.lists_1 .list_right {
	background-color: #d69942;
}

.list_item .list_right {
	color: #d69942;
}

/* Features list */
.feature_list ul li .icon i {
	color: #d69942;
}

.feature_list ul li:hover,
.feature_list ul li:hover a {
	background: #d69942;
}

/* Tabs, Accordion, Toggle, Table, Faq */
.ui-tabs .ui-tabs-nav li.ui-state-active a,
.accordion .question.active .title>.acc-icon-plus,
.accordion .question.active .title>.acc-icon-minus,
.faq .question.active .title>.acc-icon-plus,
.faq .question.active .title,
.accordion .question.active .title {
	color: #d69942;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
	background: #d69942;
}

table tr:hover td {
	background: #d69942;
}

/* Pricing */
.pricing-box .plan-header .price sup.currency,
.pricing-box .plan-header .price>span {
	color: #d69942;
}

.pricing-box .plan-inside ul li .yes {
	background: #d69942;
}

.pricing-box-box.pricing-box-featured {
	background: #d69942;
}

/************************ Shop ************************/
.woocommerce span.onsale,
.shop_slider .shop_slider_ul li .item_wrapper span.onsale {
	border-top-color: #d69942 !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	border-color: #d69942 !important;
}