<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta lang="fa">
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <meta content="حسابیکس برترین نرم افزار حسابداری ابری و رایگان" name="description"/>
    <meta content="Babak Alizadeh" name="author"/>
    <style>
        @font-face {
            font-family: 'Vazirmatn';
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            src: url('fonts/Vazirmatn-Regular.ttf') format('truetype');
        }

        body {
            font-family: 'Vazirmatn', sans-serif;
        }
    </style></head>
<body>
<div id="page-container">
    fdsfds
    <div style="font-family: 'Vazirmatn">صادق</div>
</div>
<script src=""></script>
</body>
</html>