{% extends "base-betheme.html.twig" %}
{% block title %}تماس با ما{% endblock %}
{% block body %}
    <div id="Content">
                <div class="section mcb-section" style="padding-top: 150px; padding-bottom: 50px; background-color: #224ce8; background-image: url(images/wallet2-section-bg4.png); background-repeat: repeat-x; background-position: center top;">
                    <div class="container">
                        <div class="row" data-col="one" style="padding: 0 5%;">
                            <div class="col-12 text-center">
                            
                                <h1>
                                    اگر سوالی دارید،
                                    <br>
                                    ما اینجا هستیم تا به شما کمک کنیم.
                                    <br>
                                    <span class="themecolor">با ما تماس بگیرید</span>
                                </h1>
                                <img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-icon1.svg') }}">
                                <hr class="no_line" style="margin: 0 auto 15px auto;">
                                <p>
                                    بهترین و سریع‌ترین راه برای درخواست‌های پشتیبانی ارسال تیکت است. ارسال تیکت از داخل پنل کاربری در دسترس شما قرار دارد.همچنین با پاسخ کارشناسان به تیکت ، به شما از طریق پیامک اطلاع رسانی خواهد شد.
                                </p>
                            </div>
                        </div>
                        <div class="row" data-col="one">
                            <div class="col-12 column_divider">
                                <hr class="no_line" style="margin: 0 auto 30px auto;">
                            </div>
                            <div class="col-12 column_divider">
                                <hr style="margin: 0 auto 10px; background-color: rgba(255, 255, 255, 0.2);">
                            </div>
                            <div class="col-12 column_divider">
                                <hr class="no_line" style="margin: 0 auto 90px auto;">
                            </div>
                        </div>
                        <div class="row" data-col="one">
                            <div class="col-md-4">
                                <div class="column_attr clearfix mobile_align_center" style="border-left: 1px solid rgba(255, 255, 255, 0.2);">
                                    <h6>نشانی</h6>
                                    <p>
                                        ایران، <br>
                                        کرمانشاه  شهرک صنعتی اسلام آباد غرب <br>
                                        خیابان کارگر
                                        پلاک 2
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="column_attr clearfix mobile_align_center" style="padding: 0 4%;">
                                    <h6 style="margin-bottom: 0px;">تلفن</h6>
                                    <h4><a class="themecolor" href="tel:02191031705">021-9103-1705 داخلی ۳</a></h4>
                                    <hr class="no_line" style="margin: 0 auto 15px auto;">
                                    <h6 style="margin-bottom: 0px;">پشتیبانی از طریق شبکه‌های اجتماعی</h6>
                                    <h4>
                                        <a class="themecolor" href="tel:09183282405"><span>0098-9183282405</span></a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="column_attr clearfix mobile_align_center" style="padding: 0 4%;">
                                    <h6 style="margin-bottom: 0px;">آموزش</h6>
                                    <h4>
                                        <a class="themecolor" href="#"><span>training@cdn.hesabix.ir</span></a>
                                    </h4>
                                    <hr class="no_line" style="margin: 0 auto 15px auto;">
                                    <h6 style="margin-bottom: 0px;">پشتیبانی</h6>
                                    <h4>
                                        <a class="themecolor" href="#"><span>support@cdn.hesabix.ir</span></a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="no_line" style="margin: 0 auto 20px auto;">
                            </div>
                            <div class="col-md-4">
                                <div class="placeholder">&nbsp;</div>
                            </div>
                            <div class="col-md-4">
                                <div class="column_attr clearfix align_center" style="padding: 15px 15px 0; border-radius: 41px; border: 1px solid #3a64fb;">
                                    <h5>
                                        <span style="margin-left: 10px;">با ما آشنا شوید</span><a style="margin-left: 10px;" href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a>
                                        <a class="text-warning" style="margin-left: 10px;"target="_blank" href="https://t.com/hesabix.acc"> تلگرام</i></a>
                                        <a class="text-warning" style="margin-left: 10px;" target="_blank" href="https://instagram.com/hesabix.acc">اینستاگرام</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section equal-height-wrap" style="padding-top: 60px; padding-bottom: 40px; background-color: #c0f8d1; background-image: url(images/wallet2-section-bg3.svg); background-repeat: repeat; background-position: center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" data-col="one-fourth">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-home-pic4.png') }}" alt="wallet2-home-pic4" width="780" height="565"></div>
                                </div>
                            </div>
                            <div class="col-md-6" data-col="one-second">
                                <div class="column_attr clearfix align_center" style="padding: 0 5%;">
                                    <h2><span style="color: #12304a;">همین حالا شروع کنید و امور مالی خود را شفاف و منظم کنید</span></h2>
                                </div>
                            </div>
                            <div class="col-md-3" data-col="one-fourth">
                                <hr class="no_line" style="margin: 0 auto 40px auto;">
                                <div class="button_align align_center">
                                    <a class="button button_full_width button_size_2" href="https://app.hesabix.ir/user/register"><span class="button_label">عضویت رایگان</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}