{% extends "base.html.twig" %}
{% block title %}سوالات متداول{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    <div class="pb-3">
                        <h3>سوالات متداول</h3>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                ابر چیست؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                ابر زیرساختی مجازی از منابع محاسباتی و ذخیره‌سازی داده است که از طریق اینترنت به کاربران ارائه می‌شود. این منابع می‌توانند شامل سرورها، فضای ذخیره‌سازی داده، شبکه‌ و تجهیزات مجازی‌سازی باشند.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                نرم ‌افزار حسابداری ابری چیست؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                نرم افزار حسابداری ابری که به آن نرم افزار حسابداری آنلاین هم می‌گویند، نرم افزاری است که به شما کمک می‌کند دفاتر حسابداری خود را آنلاین ثبت و نگهداری کنید. نرم افزار حسابداری ابری مانند حسابکس به جای اینکه روی رایانه رومیزی یا سرورهای سازمان (در محل مشتری) نصب شود، در فضای ابری قرار دارد. همین ویژگی باعث می‌شود تا به داده‌های مالی و امکانات سیستم از هر دستگاه آنلاینی  در هر زمانی و مکانی دسترسی داشته باشید.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                آیا امکان قطع شدن حسابکس وجود دارد؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                24 ساعته و با ضریب دسترسی بالای 99 درصد، دسترسی به حسابکس  وجود دارد.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                آیا حسابکس آنلاین است یا نیاز به دانلود و نصب نرم افزار است؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                شما نیاز به دانلود و نصب هیچ نرم افزاری ندارید. حسابکس کاملاً آنلاین است
                                و شما پس از ثبت نام می توانید وارد حساب کاربری خود شده و حسابداری خود را شروع کنید.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                آیا برای اپ موبایل هزینه جداگانه ای باید بپردازم؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                خیر، اپ موبایل حسابکس رایگان بوده و شما با همان اکانت خود
                                که در وب سایت وارد می شوید می توانید وارد اپ موبایل هم شوید
                                و نیازی به پرداخت هزینه جداگانه نیست.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                چقدر طول می‌کشد تا به حسابکس مسلط شویم؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                فقط کافی است کار با حسابکس را آغاز کنید. متوجه می‌شوید که تجربه کاربری نرم‌افزار طوری است که با حداقل زمان به نرم‌افزار مسلط شوید.همچنین می‌توانید از بخش دانشنامه به مطالب و ویدئوهای آموزشی دسترسی داشته باشید.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                آیا برای کار با حسابکس نیاز به دانش حسابداری است؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                خیر، حسابکس بگونه ای طراحی شده که تقریبا همه کارهای لازم بصورت اتوماتیک انجام می شوند.
                                به عنوان مثال با ثبت فاکتور فروش، سند حسابداری مربوطه بصورت اتوماتیک ثبت می شود، همینطور در مورد
                                سایر عملیات های حسابداری مثل دریافت، پرداخت، ضایعات و ...
                                <br>
                                اگر چه حسابداران و افرادی که دانش حسابداری دارند نیز می توانند بخوبی با حسابکس کار کنند
                                و از مزایای دانش خود بهره ببرند.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                نسخه پشتیبان در این نرم‌افزار چگونه تهیه می‌شود؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                حسابکس، خودکار و روزانه، از اطلاعات شما نسخه پشتیبان تهیه می‌کند؛ بنابراین نگرانی بابت از بین رفتن اطلاعات وجود ندارد.بعلاوه بصورت خودکار هر روز از داده های کاربران نسخه پشتیبان تهیه و تمامی داده ها بصورت رمزنگاری شده روی فضای ابری نگهداری می شوند.همچنین کاربران می توانند نسخه مستقیم پایگاه داده را با تماس با بخش پشتیبانی دریافت کنند.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                آینده نرم‌افزارهای حسابداری ابری چیست؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                به نظر می‌رسد با امکانات متمایز این تکنولوژی، در آینده نزدیک نرم‌افزارهای سنتی حذف شوند و با نرم‌افزارهای ابری جایگزین شوند. حدود 70% کسب‌وکارهای کوچک و متوسط در دنیا نرم‌افزار حسابداری ابری را به نرم‌افزار حسابداری سنتی ترجیح می‌دهند. این روند در ایران در حال شکل‌گیری است.
                            </p>
                        </div>
                        <hr>
                        <div class="text-09">
                            <h2 class="text-bold text-primary">
                                اگر اینترنت قطع شود امکان کار با حسابکس وجود دارد؟
                            </h2>
                            <p class="prices-faq-answer text-secondary">
                                برای استفاده از نرم افزارهای ابری شما باید به شبکه اینترنت دسترسی داشته باشید. به دلیل استفاده حسابکس از سرورهای داخل ایران، با قطع شدن اینترنت بین المللی امکان دسترسی به دیتا برای کاربران حسابکس وجود دارد و با محدودیتی مواجه نخواهند شد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}