{% extends "base.html.twig" %}
{% block title %}
حسابیکس باکس رابط ویندوزی حسابیکس
{% endblock %}
{% block body %}
	<main
		id="main-container p-0 m-0">
		<!-- Hero -->
		<div class="bg-image">
			<div class="bg-black-75">
				<div class="content content-top content-full text-center">
					<h1 class="text-white">
						<i class="fa fa-shop"></i>
					</h1>
					<h1 class="fw-bold text-white mt-5 mb-3">حسابیکس باکس رابط ویندوزی حسابیکس</h1>
					<h2 class="h3 fw-normal text-white-75 mb-5">
						رابط تحت ویندوز حسابیکس با نام حسابیکس باکس جهت ارتباط با حسابیکس بر روی بستر ویندوز توسعه داده شده است و هماکنون در مرحله آزمایشی قرار دارد.
					</h2>
					<a to="#">
						<a target="_blank" href="https://github.com/morrning/hesabixBox/releases" class="btn btn-primary rounded-pill fs-base px-3 py-2 me-2 m-1">
							<i class="fa fa-user-circle me-1"></i>
							دریافت حسابیکس باکس
						</span>
					</a>
					<br>
					<i class="fa fa-arrow-down text-white"></i>
				</div>
			</div>
		</div>
		<!-- END Hero -->

		<!-- Page Content -->
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div
					class="col-sm-11 py-2">
					<!-- Story -->
					<article class="story justify-content-between">
						<div class="rounded-3 bg-white p-3 mb-3">
							<div class="row">
								<div class="col-sm-12 col-md-12">
									<p>
										برای اتصال پرینتر‌های ابری الزاما باید این نرم افزار بر روی رایانه مورد نظر نصب باشد.
									</p>


								</div>
							</div>
							<h2 class="text-primary">پیش نیاز‌ها:</h2>
							<ul>
								<li>
									Dotnet framework 6 runtime
								</li>
								<li>
									Adobe Acrobat Reader 2010 یا نسخه بالاتر
								</li>
							</ul>
						</div>
					</article>
					<!-- END Story -->
				</div>
			</div>
		</div>
		<!-- END Page Content -->
	</main>
{% endblock %}
