{% extends "base.html.twig" %}
{% block title %}نرم افزار حسابداری آنلاین ، متن باز و کاملا رایگان{% endblock %}
{% block body %}
    <div class="px-4 py-3 text-center">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-2 pt-4">
                <h1 class="fw-bold text-primary-darker">
                    <img class="" src="/img/logo-blue.png" alt="حسابکس لوگو" width="72" height="72">
                    حسابداری آنلاین حسابکس</h1>
                <p class="lead mb-4">
                    برای کار با حسابکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، فرقی نمی‌کند که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ.
                    نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{{ twigFunctions.systemSettings().appSite }}/user/login" class="btn btn-success btn-lg px-4 gap-3">
                        <i class="fa fa-door-open"></i>
                        ورود | عضویت رایگان
                    </a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="/app/dashboard" class="btn btn-alt-danger btn-lg px-4 gap-3">
                            <i class="fa fa-door-open"></i>
                            پنل مدیریت
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <img alt="پیش نمایش حسابکس" class="img-fluid rounded-3" src="/img/cover.jpg" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-2">
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary-dark">حسابکس چیست؟</h5>
                            <p class="card-text">
                                حسابکس اولین نرم افزار کامل حسابداری تحت وب است. این نرم افزار بر اساس فناوری رایانش ابری ساخته شده است. یعنی کلیه اطلاعات شما بر روی سرورهای حسابکس قرار می گیرد. ما امنیت اطلاعات و حریم خصوصی کلیه کاربران را به طور کامل تضمین می کنیم. برای کار با حسابکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، فرقی نمی کند که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ. نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary-dark">ساده و قدرتمند</h5>
                            <p class="card-text">
                                برای کار با حسابکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، مهم نیست که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ.
                                نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-primary-dark">نقاط قوت و تمایز</h5>
                                <p class="card-text">
                                     در حسابکس می توانید فاکتورهای مشتریان را به صورت آنلاین برای آنها ارسال کنید، مشتری نیز می تواند فاکتور یا حتی مانده بدهی خود را به صورت آنلاین پرداخت کند. کلیه اسناد مربوطه نیز توسط نرم افزار به صورت اتوماتیک صادر می شوند. از سوی دیگر ذینفعان کسب و کار شما، مانند مشتریان یا تامین کنندگان، می توانند به صورت آنلاین و بروز، کارت حساب خود را مشاهده کنند.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-primary-dark">سریع و به روز</h5>
                                <p class="card-text">
                                    با وجود اینکه حسابکس بر روی بستر اینترنت ارائه می شود، این نرم افزار بسیار سریع است. تجربه کاربری ارائه شده در حسابکس نه تنها از لحاظ سرعت با نرم افزارهای تحت ویندوز رقابت می کند بلکه در بسیاری از موارد عملیات را سریعتر انجام می دهد. به علاوه حسابکس همیشه بروز است. هر زمان که به سیستم وارد می شوید، آخرین نسخه از نرم افزار در دسترس شما قرار می گیرد. این امکانات به رایگان در اختیار کلیه کاربران قرار می گیرد. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}