{% extends "base.html.twig" %}
{% block title %}حامیان مالی{% endblock %}
{% block body %}
    <div class="row mt-0 pt-0">
        <div class="col-sm-12 col-md-12">
            <div class="content">
                <div class="py-3 text-center">
                    <h2 class="fw-bold mb-3">
                        حسابیکس با
                        <i class="fa fa-fw fa-heart text-danger"></i>
                        و به صورت متن‌باز توسط گروهی از علاقه‌مندان توسعه داده می‌شود.
                    </h2>
                    <p class="fs-lg mb-0">لطفا با حمایت از حسابیکس در توسعه آن سهیم باشید.</p>
                    <div class="my-3">حامیان گرامی ، برای نمایش بنر کسب و کار خود در صفحات وب سایت از طریق بخش پشتیبانی تیکت ارسال کنید.</div>

                    <a class="btn btn-lg btn-success mt-4" target="_blank" href="https://zarinp.al/hesabix.ir">
                        <i class="fa fa-donate me-3"></i>
                        پرداخت آنلاین کمک مالی
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 py-2 text-center">
                <h1>حامیان حسابیکس</h1>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="{{ asset('/banners/raddata.png') }}" class="card-img-top" alt="راددیتا">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary">مرکز ارتباطات راد دیتا</h5>
                        <p class="card-text">پیشرو در ارائه خدمات فنی مهندسی و سرویس های مرکز داده در ایران و خارج با بالاترین کیفیت و قیمت مناسب</p>
                        <a href="https://raddata.ir" target="_blank" class="btn btn-primary">وب سایت</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="{{ asset('/img/parspack-black.png') }}" class="card-img-top bg-black p-3" alt="پارس‌پک">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary">پارس‌پک</h5>
                        <p class="card-text">از یک استارت‌آپ کوچک تا سازمانی بزرگ پشتیبان‌تان هستیم. پیشرو در راهکارهای ابری</p>
                        <a href="https://parspack.com" target="_blank" class="btn btn-primary">وب سایت</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="{{ asset('/img/melipayamak-card.png') }}" class="img-flude card-img-top bg-white p-3" alt="ملی پیامک">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary">سامانه پیام کوتاه ملی‌پیامک</h5>
                        <p class="card-text">ملی پیامک یک سامانه پیامکی معمولی نیست! یک ابزار قدرتمند است برای آنکه مشتری را جذب کنید، از او نگهداری کنید، یک رابطه پایدار بسازید و خدمات بهتری ارائه دهید. وقت آن رسیده که نگاهی بزرگ‌تر به پیام کوتاه داشته باشیم. </p>
                        <a href="https://www.melipayamak.com/?utm_source=hesabix&utm_medium=affiliate&utm_campaign=hesabix-camp" target="_blank" class="btn btn-primary">
                            <i class="fa fa-link me-2"></i>
                            سفارش پنل پیامک
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}