{% extends "base.html.twig" %}
{% block title %}حامیان مالی{% endblock %}
{% block body %}
    <div class="content">
        <div class="py-5 py-md-7 text-center">
            <h2 class="fw-bold mb-3">
                حسابیکس با
                <i class="fa fa-fw fa-heart text-danger"></i>
                 و به صورت متن‌باز توسط گروهی از علاقه‌مندان توسعه داده می‌شود.
            </h2>
            <p class="fs-lg mb-0">لطفا با حمایت از حسابیکس در توسعه آن سهیم باشید.</p>
            <div class="my-3">حامیان گرامی ، برای نمایش بنر کسب و کار خود در صفحات وب سایت از طریق بخش پشتیبانی تیکت ارسال کنید.</div>

            <a class="btn btn-lg btn-success mt-4" target="_blank" href="https://zarinp.al/hesabix.ir">
                <i class="fa fa-donate me-3"></i>
                الان کمک میکنم !
            </a>
        </div>
    </div>
{% endblock %}