{% extends "base.html.twig" %}
{% block title %}فهرست تغییرات و به روز رسانی ها{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    {% for item in items %}
                    <div class="container text-right">
                        <h3 style="color: dimgray; font-weight: bolder">
                            تغییرات نسخه {{ item.version }}
                           تاریخ:
                            {{ Jdate.jdate('Y/n/d',item.dateSubmit) }}
                        </h3>
                        <p class="mt-0 pt-0">{{ item.body | raw }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}