{% extends "base.html.twig" %}
{% block title %}افزونه ووکامرس حسابکس{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    <div class="pb-3 justify-content-center text-center">
                        <img src="{{asset('img/logo-woocommerce.png')}}" class="img-flude" alt="logo-woocommerce">
                        <h3>افزونه ووکامرس حسابکس <span class="text-danger"> (آزمایشی) </span></h3>
                        <div>
                        <p class="text-secondary  mt-3">
						این افزونه فروشگاه ووکامرس شما را به نرم افزار حسابداری آنلاین حسابکس متصل می کند.
						به وسیله ی این افزونه کالاها،
						مشتریان و سفارشات شما به محض ثبت در سیستم فروشگاه،
						در حسابکس نیز بصورت خودکار ثبت و ذخیره می شوند.
						همچنین با پرداخت مشتری، سند دریافت وجه از مشتری نیز در حسابکس ثبت می شود.
					    </p>
                        <p class="text-secondary  mt-3">
						بدیهی است برای استفاده از این افزونه باید ابتدا یک حساب کاربری در حسابکس داشته باشید.
						پس از ثبت نام در حسابکس و ورود به حساب خود،
						و سپس ورود به یک کسب و کار، در قسمت تنظیمات / API می توانید کلید
						API مربوط به کسب و کار خود را دریافت و در قسمت تنظیمات
						این افزونه وارد نمایید. پس از آن افزونه شما آماده استفاده است.
					    </p>
                        </div>
                        <div class="text-center">
                            <a target="_blank" href="https://github.com/morrning/hesabixWCPlugin/releases" class="btn btn-success">
                                <i class="fa fa-download"></i>
                                دریافت افزونه
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}