<h1>سلام به حسابکس خوش آمدید.</h1>

<p>
    برای تایید آدرس ایمیل خود لطفا لینک زیر را کلیک کنید: <br><br>
    <a href="{{ signedUrl }}">تایید آدرس ایمیل</a>.
</p>

<p>
    با احترام
    تیم پشتیبانی حسابکس
</p>