<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="نرم افزار حسابداری آنلاین حسابکس" name="description"/>
    <meta content="توسعه فناوران سرکش" name="author"/>

    <title>{% block title %}{% endblock %}</title>
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link href="/assets/media/favicons/favicon.png" rel="shortcut icon"/>
    <link href="/assets/media/favicons/favicon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
    <link href="/assets/media/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Dashmix framework -->
    <link href="/assets/css/dashmix.min.css" rel="stylesheet"/>


    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/xwork.min.css"> -->
    <!-- END Stylesheets -->
    <!--===== Custom Font css =====-->
    <link href="/assets/css/custom-fonts.css" rel="stylesheet"/>

</head>
<body>
<div class="rtl-support sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-full-width app" id="page-container">
    <!-- Sidebar -->
    <!--
      Sidebar Mini Mode - Display Helper classes

      Adding 'smini-hide' class to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
      Adding 'smini-show' class to an element will make it visible (opacity: 1) when the sidebar is in mini mode
        If you would like to disable the transition animation, make sure to also add the 'no-transition' class to your element

      Adding 'smini-hidden' to an element will hide it when the sidebar is in mini mode
      Adding 'smini-visible' to an element will show it (display: inline-block) only when the sidebar is in mini mode
      Adding 'smini-visible-block' to an element will show it (display: block) only when the sidebar is in mini mode
    -->
    <nav aria-label="Main Navigation" id="sidebar">
        <!-- Side Header -->
        <div class="bg-header-dark">
            <div class="content-header bg-white-5">
                <!-- Logo -->
                <a class="fw-semibold text-white tracking-wide" href="/">
              <span class="smini-visible"> Hesab<span class="opacity-75">ix</span>
              </span>
                    <span class="smini-hidden"><span class="text-light">
            <img style="max-height:25px" src="/assets/media/favicons/favw.png"/>
           (مدیریت) حسابکس
          </span>
              </span>
                </a>
                <!-- END Logo -->

                <!-- Options -->
                <div>
                    <!-- Close Sidebar, Visible only on mobile screens -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button class="me-1 btn btn-sm btn-alt-secondary d-lg-none" data-action="sidebar_close" data-toggle="layout" type="button">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    <!-- END Close Sidebar -->
                </div>
                <!-- END Options -->
            </div>
        </div>
        <!-- END Side Header -->

        <!-- Sidebar Scrolling -->
        <div class="js-sidebar-scroll">
            <!-- Side Navigation -->
            <div class="content-side">
                <ul class="nav-main">
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/app/dashboard">
                            <i class="nav-main-link-icon fa fa-rocket"></i>
                            <span class="nav-main-link-name"> پیشخوان </span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/app/api/list">
                            <i class="nav-main-link-icon fa fa-book"></i>
                            <span class="nav-main-link-name"> مستندات API </span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/app/guide/list">
                            <i class="nav-main-link-icon fa fa-book"></i>
                            <span class="nav-main-link-name"> راهنمای استفاده </span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/app/blog/posts/list">
                            <i class="nav-main-link-icon fa fa-book"></i>
                            <span class="nav-main-link-name"> وبلاگ </span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="/app/database/sync">
                            <i class="nav-main-link-icon fa fa-book"></i>
                            <span class="nav-main-link-name"> به روز رسانی دیتابیس </span>
                        </a>
                    </li>
                   </ul>
            </div>
            <!-- END Side Navigation -->
        </div>
        <!-- END Sidebar Scrolling -->
    </nav>
    <!-- END Sidebar -->

    <!-- Header -->
    <header id="page-header">
        <!-- Header Content -->
        <div class="content-header">
            <!-- Left Section -->
            <div>
                <!-- Toggle Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
                <button class="btn-sm btn btn-alt-secondary me-1" data-action="sidebar_toggle" data-toggle="layout" type="button">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
                <!-- END Toggle Sidebar -->

            </div>
            <!-- END Left Section -->
        </div>
        <!-- END Header Content -->

        <!-- Header Loader -->
        <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
        <div class="overlay-header bg-primary-darker" id="page-header-loader">
            <div class="content-header">
                <div class="w-100 text-center">
                    <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
                </div>
            </div>
        </div>
        <!-- END Header Loader -->
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="content p-0 m-0">
            {% block body %}{% endblock %}
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!--
  Dashmix JS

  Core libraries and functionality
  webpack is putting everything together at assets/_js/main/app.js
-->
<script src="/assets/js/dashmix.app.min.js"></script>
</body>
</html>