{% extends "app/base.html.twig" %}
{% block title %}به روز رسانی دیتابیس{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    <div class="pb-3">
                        <h3 class="mb-3">به روز رسانی دیتابیس</h3>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div>
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}